@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: 100%;
}

body {
	height: 100vh;
	background-color: #1d5d9b;
	font-family: 'Quicksand', sans-serif;
}

header {
	padding: 1rem 0;
	width: 30%;
	margin: auto;
	background-color: white;
}

header h1 {
	font-size: 3.5rem;
}

header span {
	font-size: 3rem;
}

header h1,
header span {
	display: block;
	text-align: center;
	font-family: 'Darumadrop One', cursive;
}

.top-guide {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%);
	width: 65%;
	height: 5%;
}

.top-guide > div {
	width: 4%;
	text-align: center;
	background-color: white;
}

.side-guide {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 18%;
	left: 10%;
	width: 5%;
	height: 70%;
}
.side-guide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10%;
	width: 40%;
	background-color: white;
}

.side-guide > div,
.top-guide > div {
	box-shadow: 10px 6px 20px 0px rgba(56, 56, 56, 0.75);
	-webkit-box-shadow: 10px 6px 20px 0px rgba(56, 56, 56, 0.75);
	-moz-box-shadow: 10px 6px 20px 0px rgba(56, 56, 56, 0.75);
}

.top-guide p,
.side-guide p {
	font-size: 40px;
}

.game-board {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	justify-content: center;
	gap: 0.5rem;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
	width: 75%;
	height: 68%;
}

.card {
	position: relative;
	width: 17%;
	height: 18%;
	perspective: 500px;
	cursor: pointer;
}

.content {
	position: absolute;
	width: 100%;
	height: auto;
	transition: transform 1s;
	transform-style: preserve-3d;
}
.content.flip {
	transform: rotateY(180deg);
	transition: transform 0.5s;
}

front,
.back {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	backface-visibility: hidden;
}

.front > img,
.back {
	border-radius: 1rem;
	border: 3px solid #f4d160;
}

.back {
	top: 0;
	background: #1d5d9b;
	font-family: 'Noto Sans KR', sans-serif;
	color: white;
	transform: rotateY(180deg);
}

.back p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	font-weight: 700;
	/* text-shadow: 3px -1px 0px rgba(0, 0, 0, 0.49); */
	user-select: none;
}

@media only screen and (max-width: 1500px) {
	header {
		width: 70%;
		padding: 0.5rem 0;
	}

	header h1 {
		font-size: 2.5rem;
	}

	header span {
		font-size: 1.5rem;
	}
	front,
	.back {
		font-size: 30px;
	}
}
